<div class="container">
  <div class="content">
    <img src="https://www.toyotamauritius.com/sites/default/files/models/colors/Emotional%20Red%202%20%283U5%29.png"/>
  </div>
  <div class="flap"></div>
</div>


<ul>
<li>Make: <%=@vehicle.make %></li>
<li>Model: <%=@vehicle.model %></li>
<li>Transmission: <%=@vehicle.transmission%></li>
<li>Types_Vehicles: <%=@vehicle.types_vehicles%></li>
<li>Number of Passengers: <%=@vehicle.passengers%></li>
</ul>

<%=link_to "Book Now", new_vehicle_booking_path(@vehicle), class: "btn btn-flat" %>

<a class="btn btn-flat" href="http://localhost:3000/vehicles">Back</a>
