<div class="container-open-close">
  <div class="content">
    <img src="http://loremflickr.com/800/800/<%= @vehicle.make %>%20<%= @vehicle.model %>"/>
   </div>
   <div class="flap">
  </div>
</div>


<ul>
  <li>Make: <%=@vehicle.make %></li>
  <li>Model: <%=@vehicle.model %></li>
  <li>Transmission: <%=@vehicle.transmission%></li>
  <li>Types_Vehicles: <%=@vehicle.types_vehicles%></li>
  <li>Number of Passengers: <%=@vehicle.passengers%></li>
  <li>Price: $<%=@vehicle.price%></li>
</ul>

<%=link_to "Book Now", new_vehicle_booking_path(@vehicle), class: "btn btn-flat" %>

<a class="btn btn-flat" href="http://localhost:3000/vehicles">Back</a>
