<div class="container-open-close d-flex">
  <div class="content">
    <%= cl_image_tag @vehicle.photo.key, height: 400, width: 500, crop: :fill %>
  </div>
    <div class="flap">
</div>

  <div class="">
   <ul>
    <li>Make:<%= @vehicle.make %></li>
    <li>Model:<%= @vehicle.model %></li>
    <li>Transmission:<%= @vehicle.transmission %></li>
    <li>Types_Vehicles:<%= @vehicle.types_vehicles %></li>
    <li>Number of Passengers:<%= @vehicle.passengers %></li>
    <li>Price: $<%= @vehicle.price %></li>
   </ul>
   </div>
  </div>

<div class="hello ">
  <%=link_to "Back", vehicles_path, class:"btn btn-primary btn-m btn-blue" %>
  <%=link_to "Book Now", new_vehicle_booking_path(@vehicle), class:"btn btn-primary btn-m btn-blue " %>
</div>
